node_modules/
backend/dist/

**/build/
**/.dart_tool/
**/.idea/
**/.vscode/
**/.DS_Store
**/Thumbs.db
**/*.iml
**/local.properties
**/flutter_assets/
**/pubspec.lock
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages
**/.pub-cache/
**/.pub/
**/.metadata
